body {
  font-family: "Roboto Mono", monospace;
}

#title {
  text-align: center;
  color: #4d4b48;
}

h1 {
  color: antiquewhite;
  font-size: 30px;
  margin: 0px;
  text-align: center;
}

#ribbon {
  width: 100%;
  background-color: #4d4b48;
  padding: 5px;
  margin-top: 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

#ribbon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 20px 10px rgba(58, 54, 57, 0.5); /* Adjust shadow as needed */
  mix-blend-mode: multiply; /* Apply blending mode */
  pointer-events: none; /* Ensure it doesn't interfere with other content */
  z-index: -1; /* Position the shadow below the content */
}

#ribbon + section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

#introduction {
  width: 70%;
  background-color: #e4ddd9;
  margin: 50px;
  box-shadow:20px 20px 50px 10px rgb(206, 192, 194);
  border-top: 5px solid rgb(138, 91, 59);
  border-bottom: 5px solid rgb(138, 91, 59);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#introduction > img {
  height: auto;
  width: 30%;
  border-radius: 50%;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow:10px 10px 10px 5px rgb(141, 133, 122);
}

#introduction > section {
  width:50%;
  /**
  * height:70%;
  **/
  margin: 20px;
}

#introduction span {
  font-weight: bolder;
}

#socials {
  background-image: url("https://fixthephoto.com/images/content/newspaper-texture-41613661929.jpg");
  background-color: #e4ddd9;
  background-blend-mode: overlay;
  width:100%;
  height: auto;
  margin: 50px;
  margin-top: 100px;
  padding: 50px;
  padding-top: 0px;
  box-shadow:20px 20px 50px 10px rgb(206, 192, 194);
  border-top: 5px solid rgb(138, 91, 59);
  border-bottom: 5px solid rgb(138, 91, 59);
}

#socials > h2 {
  color:rgb(81, 77, 75);
}

#socials > section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#socials img {
  width: 75px;
  height: auto;
  margin: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#ribbon button {
  background-color: #4d4b48;
  color: antiquewhite;
  width: 10%;
  height: 30px;
  font-family: "Roboto Mono", monospace;
  transition: background-color 0.1s ease-in-out;
}

#ribbon button:hover {
  background-color: #7b7575;
}